/(첨부3) 37회 SQLD 정기시험.pdf
/-1.14-windows.xml
/.anaconda
/.cache
/.conda
/.condarc
/.config
/.continuum
/.eclipse
/.gitconfig
/.ipynb_checkpoints
/.ipython
/.jupyter
/.matplotlib
/.p2
/.redhat
/.rsp
/.vscode
/.wdm
/0913) Selenium (동적 크롤링).ipynb
/0913)BeautifulSoup 라이브러리 실습.ipynb
/0913)Request 라이브러리 실습 1-1 .ipynb
/0914) 카카오맵 장소 이름 별점 수집.ipynb
/0914)2-Selenium의 스크롤링.ipynb
/0914.ipynb
/0915) 텍스트 분석.ipynb
/0915.ipynb
/0919) 회귀분석.ipynb
/0920) 4 pandas.ipynb
/0920)2 (numpy).ipynb
/0920)3.ipynb
/0920.ipynb
/0921) 복습문제, 정렬하기.ipynb
/0921)2 BMI구하기.ipynb
/0921)3 DataFrame.ipynb
/0922)2. 시각화.ipynb
/0922.ipynb
/0923).ipynb
/0923)2 Seaborn.ipynb
/0926)2.ipynb
/0926.ipynb
/1017.ipynb
/1018.ipynb
/1019 (2).ipynb
/1019(1).ipynb
/1019.ipynb
/1020.ipynb
/1021.ipynb
/1024 (SVM).ipynb
/1024-2 인공신경망.ipynb
/1025 데이터 전처리.ipynb
/1026 -2 PCA.ipynb
/1026.ipynb
/1027 (PCA, t-SNE).ipynb
/1028 (텍스트 마이닝).ipynb
/1028 쌤
/1028 쌤2
/1028 쌤3
/2014년 졸음운전 교통사고.csv
/2015.csv
/2015년 졸음운전 교통사고.csv
/2016.csv
/2016년 졸음운전 교통사고.csv
/2017.csv
/20220810 파이썬 day2.ipynb
/20220811 Day 3.ipynb
/20220812 Day 4.ipynb
/airfreshplantinfo.csv
/alice.png
/anaconda3
/AppData
/Bicycle
/Bicycle.zip
/bike.csv
/bmi_500.csv
/cache
/campaign_master.csv
/cancer_data.csv
/chromedriver.exe
/chromedriver_win32.zip
/circle.png
/class_master.csv
/Contacts
/crime_in_Seoul.csv
/customer_join.csv
/customer_master.csv
/CycleGAN
/Documents
/Downloads
/eclipse
/fatherson.xlsx
/Favorites
/games.csv
/garden
/garden.zip
/gardenPlntDry.xls
/gdp_per_capital.png
/heart.png
/heart2.png
/heart3.png
/height_weight.txt
/Links
/module_test.py
/mushrooms.csv
/mushroom_tree.dot
/Music
/Netflix-Movie-Recommendation-System
/netflix.jpg
/NTUSER.DAT
/ntuser.dat.LOG1
/ntuser.dat.LOG2
/NTUSER.DAT{0771f149-4ade-11ed-b7d4-c8d02737f94b}.TM.blf
/NTUSER.DAT{0771f149-4ade-11ed-b7d4-c8d02737f94b}.TMContainer00000000000000000001.regtrans-ms
/NTUSER.DAT{0771f149-4ade-11ed-b7d4-c8d02737f94b}.TMContainer00000000000000000002.regtrans-ms
/ntuser.ini
/Pistachio.xlsx
/plant2.ipynb
/plantresource.xls
/plants.csv
/plants2.csv
/population.csv
/PycharmProjects
/ratings.txt
/ratings2.txt
/result_textdata.pkl
/Sample - Superstore.xls
/Saved Games
/scikit_learn_data
/score.csv
/seaborn-data
/Searches
/shopping-data.csv
/sparrow
/suv.csv
/test_bosung.ipynb
/TheOneMini2
/titanic.csv
/titanic_six.jpg
/titanic_six.pdf
/tmp
/tmp.png
/Traffic_Accident_2017.csv
/tree.dot
/under5MortalityRate.csv
/Untitled.ipynb
/Untitled1.ipynb
/Untitled2.ipynb
/Untitled26.ipynb
/Untitled27.ipynb
/Untitled3.ipynb
/Untitled4.ipynb
/Untitled5.ipynb
/Untitled6.ipynb
/use_log.csv
/venv
/Videos
/w2v.bin
/winequality-red.csv
/winequality-white.csv
/wine_data.csv
/winter.csv
/[머신러닝기반 데이터 분석]데이터비즈니스_000.hwp
/__pycache__
/공기 정화 식물 정보.ipynb
/나눔손글씨 버드나무.ttf
/네이버 평점 감성분류.ipynb
/벅스.xlsx
/실내식물 데이터.ipynb
/연합뉴스 크롤링.ipynb
/코스피지수.xlsx
/크롤링 만들기.ipynb
/파이썬 복습 & 정규표현식.ipynb
/환경구축.ipynb
/OneDrive
/Application Data
/My Documents
/NetHood
/Cookies
/PrintHood
/Recent
/시작 메뉴
/Local Settings
/Templates
/SendTo